.container {
    width: 100%;
    height: calc(100vh - 4rem);
}

.card {
    height: 100%;
}

.message-container {
    flex: 1;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;



    &::-webkit-scrollbar {
        width: 5px;
    }

    // Ẩn cuộn ngang
    &::-webkit-scrollbar-horizontal {
        background-color: red;
    }

    // Ẩn cuộn dọc
    &::-webkit-scrollbar-thumb {
        background-color: #ACFADF;
        border-radius: 10px;
    }
}

.input-message-container {
    padding: 10px;
    display: flex;
    input {
        padding: .4rem 1rem;
        border-radius: 100px;
        margin-right: 1rem;
        flex: 1;
        background-image: linear-gradient(225deg, #E3FDF5 0%, #FFE6FA 100%);
    }

    button {
        width: 50px;
        border-radius: 50px;
        background-image: linear-gradient(to right, #0cebeb 0%, #20e3b2 51%, #0cebeb 100%);
        color: white;
    }

}